<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<body>
<h1>图书管理</h1>
<div>[<a href="/add">添加</a>] </div>
<table border="1" width="90%">
    <thead>
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{range .books}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Price}}</td>
        <td>[<a href="/del/{{.ID}}">删除</a>]</td>
    </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>